<div class="row">
    <div class="col-sm-12">
        <h1 class='text-center'>Log in!</h1>
        <div class="blurb">Welcome back, friend.</div>

        <!--FORM ERROR MESSAGES-->
        <p id="alert" class='text-danger'><%= alert %></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-md-7 col-md-offset-2">
    <!--LOGIN FORM-->
        <%= form_tag sessions_path, class: 'form-horizontal' do %>
            <div class="form-group">
                <%= label_tag :email, nil, class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                    <%= text_field_tag :email, params[:email], class: 'form-control' %> 
                </div>
            </div>
            <div class="form-group">
                <%= label_tag :password, nil, class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                    <%= password_field_tag :password, nil, class: 'form-control' %>
                </div>
            </div>

            <!--LOGIN BUTTON-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= submit_tag "Log In", class: "btn btn-block btn-info" %>       
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type='button' class='btn btn-block btn-default btn-xs login-link'>
                        <%= link_to 'or Sign Up here', new_user_path %>
                    </button>
                </div>
            </div>
        <% end %>
    </div>
</div>


