<%= form_for @user, url: user_path(@user), method: :patch do |f| %>

     <% @user.errors.full_messages.each do |message| %>
         <p class="text-danger"><strong><%= message %></strong></p>
     <% end %>
      
        <div class="field">
            <%= f.label 'First Name: ' %>
            <%= f.text_field :first_name %>
        </div>   
        <div class="field">
            <%= f.label 'Last Name: ' %>
            <%= f.text_field :last_name %>
        </div>

        <div class="field">
            <%= f.label 'What time does your morning commute start? ' %>
            <%= f.time_field :morning_commute %>
        </div>
        <div class="field">
            <%= f.label 'What time does your evening commute start? ' %>
            <%= f.time_field :evening_commute %>
        </div>
        <div class="field">
            <%= f.label 'Email: ' %>
            <%= f.email_field :email %>
        </div>
    
    <br>
    <div class="row">
      <div class="col-md-2">
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
          <i class="icon-ok icon-white"></i> Save changes
        <% end %>
      </div>
    </div>
  <% end %>
  
  <%= link_to "Change password?", change_password_path %>
