<h1>Sign up!</h1>

<%= form_for @user, html: { multipart: true } do |f| %>
   <% if @user.errors.any? %>
       <div class="error_messages">
           <h2>Form is invalid</h2>
           <ul>
               <% for message in @user.errors.full_messages %>
                   <li><%= message %></li>
               <% end %>
           </ul>
       </div>
    <% end %>
    
    <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>   
    <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>
    <div class="field">
        <%= f.label :profile_photo %>
        <%= f.file_field :profile_photo %>
    </div>
    <div class="field">
        <%= f.label :time_zone %>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %> 
    </div>
    <div class="field">
        <%= f.label :morning_commute %>
        <%= f.time_field :morning_commute %>
    </div>
    <div class="field">
        <%= f.label :evening_commute %>
        <%= f.time_field :evening_commute %>
    </div>
    <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit %></div>
<% end %>


<h2>Or <%= link_to 'log in here', login_path %></h2>