<div class="wrapper">
    <h1 class="hero">Change Password</h1>
    
    <%= form_for @user, url: user_path(@user), method: :patch do |f| %>

         <% @user.errors.full_messages.each do |message| %>
             <p class="text-danger"><strong><%= message %></strong></p>
         <% end %>

            <div class="field form-group">
                <%= f.label 'Password: ' %>
                <%= f.password_field :password %>
            </div>
            <div class="field form-group">
                <%= f.label 'Password Confirmation: ' %>
                <%= f.password_field :password_confirmation %>
            </div>
    

        <br>
        <div class="row">
          <div class="col-md-2">
            <%= button_tag(type: 'submit', class: "btn btn-success") do %>
              <i class="icon-ok icon-white"></i> Save changes
            <% end %>
          </div>
        </div>
    <% end %>
    
</div>