<p>
    <%= @user.first_name %>
</p>
<p>Insert profile photo here</p>

<P><h1><%= @user.first_name %>'s Playlist</h1>
  <table class='table table-striped'>
      
   <tr>
       <th>Song</th>
       <th>Artist</th>
       <th>Album</th>
   </tr>
    <tr>
       <% @media.each do |medium| %>
        <td><%= medium.song %></td>
        <td><%= medium.artist %></td>
        <td><%= medium.album %></td>
        <% if(current_user.id == @user.id) %>
            <td><%= link_to 'Edit', edit_user_medium_path(current_user.id, medium.id) %></td>
        <% end %>
    </tr>
    <% end %>    
  </table>
</P>

<!--
<div class="edit-delete">
        <#%= link_to 'Edit', edit_tweet_path(@tweet) %>
        <#%= link_to 'Delete', tweet_path(@tweet), method: 'delete', data: {confirm: 'You sure?'} %>
    </div>
-->
<% if current_user.id == @user.id %>
    <p>Add more music...</p>
    <p>
        <%= link_to "Song", new_user_medium_path(current_user, :media_type => 'song') %>
    </p>
    <p>
        <%= link_to "Artist", new_user_medium_path(current_user, :media_type => 'artist') %>
    </p>
    <p>
        <%= link_to "Album", new_user_medium_path(current_user, :media_type => 'album') %>
    </p>
<% end %>

