<% flash.each do |type, message| %>
<p class='flash'><strong><%= message %></strong></p>
<% end %>

<P><h1><%= @user.first_name %>'s Playlist</h1>

  <% if current_user %>
        <%= render 'follow_form' %>
    <% else %>
        <%= button_to "Login", root_path, { method: :get, form_class: 'btn btn-succes'} %>
    <% end %> 

<p><%= image_tag @user.profile_photo.url(:thumb) %></p>
    <%= link_to "#{@user.followers.count} Followers", followers_user_path %><br>
    <%= link_to "#{@user.following.count} Following", following_user_path %>
    
    <table class='table table-striped'>
      
   <tr>
       <th>Song</th>
       <th>Artist</th>
       <th>Album</th>
   </tr>
    <tr>
       <% @media.each do |medium| %>
        <td><%= medium.song %></td>
        <td><%= medium.artist %></td>
        <td><%= medium.album %></td>
        
        <% if current_user && (current_user.id == @user.id) %>
            <td><%= link_to 'Edit', edit_user_medium_path(current_user.id, medium.id) %></td>
        <% end %>
    </tr>
    <% end %>    
  </table>
</P>



    <% if current_user && current_user.id == @user.id %>
        <p>Add more music...</p>
        <p>
            <%= link_to "Song", new_user_medium_path(current_user, :media_type => 'song') %>
        </p>
        <p>
            <%= link_to "Artist", new_user_medium_path(current_user, :media_type => 'artist') %>
        </p>
        <p>
            <%= link_to "Album", new_user_medium_path(current_user, :media_type => 'album') %>
        </p>
    <% end %>


