<!DOCTYPE html>
<html>
<head>
  <title>MusicAlert</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>

<body>

<!--NAVBAR-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
            <div class="navbar-header">
            <!--SHOW IF LOGGED IN USER-->
                <% if current_user %>
                    <p class='navbar-text navbar-left'>
                        Welcome, <%= link_to current_user.first_name, user_path(current_user.id), class: 'navbar-link' %> 
                    </p>
                   
                    <%= image_tag current_user.profile_photo.url(:thumb), :class => 'navbar-brand img-circle' %>
                    
                    <%= link_to "Edit Profile", edit_user_path(current_user.id), class: 'navbar-brand' %>  
                    
                    <%= link_to "Log Out", session_path('dummy'), method: :delete, class: 'navbar-brand' %> 
                   
            
            <!--SHOW IF NO USER-->
                <% else %>
                    <%= link_to 'Log In', login_path, class: 'navbar-brand' %>   

                    <%= link_to 'Sign Up', new_user_path, class: 'navbar-brand' %>


                <% end %> 
                     
            </div>
            <!--SEARCH BAR-->
           <% if current_user %>
                <%= form_tag(users_path, :method => "get", id: "search-form", class: "navbar-form navbar-right") do %>
                    <div class="form-group">
                        <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: 'form-control' %>  
                    </div>
                <%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
                <% end %>
                
            <% end %>
                    
    </div>
</nav>

<div class="container-fluid">
    <%= yield %>
</div>

</body>
</html>
